
body {
  margin: 0;
  padding: 0;
}

.content {
  background-color: black;
}

.graph {
  /**/
  width: 100%;
  //height: 100%;
  /**/
  background-color: white;
}

.config-pane {
  background-color: white;
}

.about-pane {
  background-color: white;
}

.help-pane {
  background-color: white;
}
